<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyPortfolio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="fa fa-home mr-05"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/skills">
                <span class="fa fa-book mr-05"></span> Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/projects">
                <span class="fa fa-briefcase mr-05"></span> Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/experience">
               <span class="fa fa-person-walking-luggage mr-05"></span> Experience
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/certificate">
               <span class="fa fa-file mr-05"></span> Certificate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/resume">
               <span class="fa fa-file-pdf mr-05"></span> Resume
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/contact">
               <span class="fa fa-user mr-05"></span> Contact
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
