@page "/experience"

<PageTitle>Experience and Certifications</PageTitle>

<h1>Experience</h1>

<h2>Product Engineer (.Net) - Smart Energy Water (SEW)</h2>
<p><strong>Feb 2025 - present | remote</strong></p>
<ul>
    <li>Developed and maintained enterprise apps using ASP.NET Core and Angular</li>
    <li>Migrated legacy .NET Framework applications to .NET 6</li>
    <li>Participated in agile sprints and daily stand-ups</li>
    <li>Optimized API performance, reducing latency by 30%</li>
</ul>

<h2>Software Engineer – Great Developer Info Tech Pvt. Ltd.</h2>
<p><strong>Jan 2022 – Feb 2025</strong></p>
<ul>
    <li>Developed and maintained enterprise apps using ASP.NET Core and Angular</li>
    <li>Migrated legacy .NET Framework applications to .NET 6</li>
    <li>Participated in agile sprints and daily stand-ups</li>
    <li>Optimized API performance, reducing latency by 30%</li>
</ul>
